@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-background-color: #02090e;
}

body {
  background-color: var(--page-background-color);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: transparent !important;
  box-shadow: none !important;
}

.leaflet-popup-content {
  margin: 0;
  line-height: 1.4;
}

.leaflet-container a.leaflet-popup-close-button {
  color: white;
}
